:root {
    --main-light-brown: #F0E5CF;
    --main-cream-color: #F7F6F2;
    --main-light-blue: #C8C6C6;
    --main-blue-color: #4B6587;
    --main-dark-blue: #2b3a4e;
}

* {
    font-family: 'Patua One', 'Open sans ';
}

body {
    background-color: var(--main-blue-color);
}

.inline{
    display: none;
}

.portada {
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--main-dark-blue);
    background-image: url(./assets/pc-background-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
}

.carousel-item img {
    height: 95%;
    margin: 10px 0;
    border-radius: 100%;
}

i img {
    height: 40px;
    margin: 0 15px;
}

.navbar-brand {
    display: flex;
}

nav {
    border-radius: 10px;
    margin: 10px 3px;
}

h2 {
    margin: 40px;
    font-size: 2em;
    text-align: center;
    color: var(--main-cream-color);
}

h1 {
    margin: auto;
}

.navbar button {
    margin: 0 5px;
    border-radius: 10px;
}

.aside h3 {
    text-align: center;
    color: var(--main-blue-color);
    margin: 30px 10px;
}

.aside-ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.aside-ads img {
    width: 105px;
    border-radius: 5px;
    max-height: 100px;
}

.aside-ads li {
    list-style: none;
    margin: 10px 5px;
}

.aside {
    margin: 30px 15px;
    border-top: var(--main-light-blue) solid 1px;
    background-color: var(--main-light-blue);
    border-radius: 10px;
}

.footer {
    border-top: 1px solid var(--main-light-blue);
    margin: 10px;
    opacity: 50%;
}

.copy {
    text-align: center;
    color: var(--main-light-blue);
    font-size: 0.7rem;
    opacity: 50%;
    margin-top: 20px;
}

/* --- Products --- */
.main-products h2 {
    margin-top: 100px;
}

.products img {
    max-width: 95%;
    margin: 5px;
}

.products li {
    list-style: none;
    background-color: white;
    margin: 20px 25px;
    border-radius: 10px;
    text-align: center;
}

.products ul {
    padding: 0;
}

li p {
    text-align: center;
    color: var(--main-dark-blue);
}

.product-item a {
    text-decoration: none;
    color: var(--main-dark-blue);
}
.product-price{
    background-color: var(--main-dark-blue);
    color: var(--main-cream-color);
    border-radius: 20px;
}
.product-item{
    padding: 15px 10px;
}

/* --- item page --- */

.item-photo {
    width: 95%;
    margin-top: 100px;
    border-radius: 5px;
}

.item-menu {
    margin: auto;
    padding: 0;
    text-align: center;
}

.item-features {
    padding: 0;
}

.item-features li {
    list-style: none;
    color: var(--main-cream-color);
    margin: 25px 10px;
}

.item-menu h2 {
    color: var(--main-cream-color);
    font-size: 1.5em;
    margin: 30px 10px;
}

.item-features p {
    color: var(--main-light-blue);
}

.item-price {
    font-size: 2em;
    background-color: var(--main-dark-blue);
    margin: 10px 20px;
    border-radius: 20px;
}

.item-price p {
    color: var(--main-cream-color);
}

.item-features button {
    width: 80%;
    border-radius: 40px;
    border: none;
    background-color: var(--main-light-brown);
}

/* --- thanks page --- */

.buy-thanks p {
    color: var(--main-cream-color);
    text-align: center;
}
.buy-thanks a{
    text-decoration: none;
    color: var(--main-cream-color);
}

/* --- contact --- */

.contact{
    text-align: center;
}
.contact ul{
    display: flex;
    padding: 0;
    justify-content: center;
}
.contact li{
    list-style: none;
}
.contact i{
    color: var(--main-dark-blue);
}
.contact h2{
    font-size: 1.5em;
    margin-top: 100px;
}
.contact h3{
    margin: 25px;
    color: var(--main-cream-color);
}
.contact li{
    margin: 10px 20px;
}
.contact i{
    color: var(--main-cream-color);
}

/* --- about us --- */

.about-us{
    text-align: center;
    margin-top: 100px;
    color: var(--main-cream-color);
}
.about-us h1{
    margin: 20px;
}
.about-us img{
    width: 300px;
    border-radius: 10px;
}
.about-us p{
    margin: 30px 5px;
}

/* --- login --- */

.login{
    background-color: var(--main-dark-blue);
    margin: 20px;
    padding: 30px 5px;
    border-radius: 30px;
}
.login div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login img{
    width: 150px;
    margin: 30px;
}
.login label{
    margin: 10px;
}
.form-item input{
    width: 200px;
    border-radius: 40px;
    border-style: none;

}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-cream-color);
}
.form button{
    border-style: none;
    border-radius: 40px;
    width: 200px;
}
.form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.form ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.form li{
    margin: 10px;
}
.form a{
    color: var(--main-cream-color);
    text-decoration: none;
}

/* --- register --- */

.register{
    background-color: var(--main-dark-blue);
    margin: 20px;
    padding: 30px 5px;
    border-radius: 30px;
}
.register div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register img{
    width: 100px;
    margin: 10px;
}
.register label{
    margin: 5px;
}
.reg-item input{
    width: 200px;
    border-radius: 40px;
    border-style: none;
    text-align: center;
}
.form-reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-cream-color);
}
.form-reg button{
    border-style: none;
    border-radius: 40px;
    width: 200px;
    margin: 20px;
}
.reg-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.form-reg ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.form-reg li{
    margin: 10px;
}
.form-reg a{
    color: var(--main-cream-color);
    text-decoration: none;
}

@media (min-width: 375px) {
    .aside-ads img{
        width: 150px;
        max-height: none;
    }
    .about-us img{
        width: 350px;
    }
    .contact iframe{
        width: 350px;
    }
    .contact i{
        font-size: 1.4em;
    }
}

@media (min-width: 425px) {
    .aside-ads img{
        margin: 10px;
    }
    .product-price{
        font-size: 1.6em;
    }
    .name-product{
        font-size: 1.7em;
    }
    .item-menu button{
        font-size: 1.5em;
        padding: 5px;
    }
    .item-menu img{
        width: 350px;
    }
    .login img{
        width: 190px;
    }
}

@media (min-width: 768px) {
    .portada {
        background-image: url(./assets/pc-background-1024.jpg);
        background-position: center;
        height: 800px;
    }
    .carousel-item img{
        height: 500px;
        max-width: 500px;
        margin: auto;
    }
    .aside img{
        width: 280px;
        margin: 35px;
    }
    .product-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .products img{
        width: 200px;
    }
    .product-item{
        width: 300px;
        max-height: 350px;
    }
    .name-product{
        font-size: 1.3em;
    }
    .product-price{
        font-size: 1.2em;
    }
    .item-menu{
        display: flex;
        margin: 80px 10px;
        justify-content: center;
        align-items: center;
    }
    .item-menu img{
        margin: 0;
    }
    .item-menu h2{
        font-size: 1.8em;
    }
    .item-price{
        font-size: 1.5em;
    }
    .about-us img{
        width: 600px;
    }
    .about-us p{
        font-size: 1.2em ;
    }
    .about-us h1{
        font-size: 2.5em;
    }
    .login{
        margin: 70px;
    }
    .form-item input{
        width: 350px;
    }
    .form{
        font-size: 1.2em;
    }
    .form button{
        width: 400px;
    }
    .register{
        margin: 30px;
        font-size: 1.2em;
    }
    .register input{
        width: 500px;
    }
    .contact iframe{
        width: 600px;
        height: 500px;
    }
    .contact h2{
        font-size: 2em;
        margin: 70px;
        margin-top: 120px;
    }
    .contact i{
        font-size: 2em;
        margin: 10px 25px;
    }
}

@media (min-width: 1024px) {
    .navbar{
        display: none;
    }
    .portada{
        background-image: url(./assets/usando-pc-4k.jpg);
    }
    .inline{
        display: flex;
        background-color: var(--main-cream-color);
        align-items: center;
        justify-content: space-between;
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000000;
    }
    .icon a{
        display: flex;
        text-decoration: none;
        color: black;
    }
    .icon img{
        width: 60px;
        height: 60px;
    }
    .content-inline{
        margin: 0;
        padding: 0;
        line-height: 80px;
    }
    .content-inline ul{
        display: flex;
        padding: 10px;
        margin: 0;
    }
    .content-inline li{
        list-style: none;
        margin: 0 25px;
    }
    .content-inline a{
        text-decoration: none;
        color: black;
    }
    .content-inline li:hover , .icon:hover{
        opacity: 80%;
        transform: scale(1.1);
        transition: 1s;
    }
    .content-inline a , .icon{
        transition: 0.5s;
    }
    .index-title{
        font-size: 3em;
    }
    .aside img{
        width: 160px;
        transition: 1s;
    }
    .aside{
        height: 300px;
        padding: 0;
        margin: 50px 10px;
    }
    .aside h3{
        margin: 10px;
    }
    .aside img:hover{
        opacity: 80%;
        transform: scale(1.1);
        transition: 1s;
    }
    .products img{
        width: 220px;
    }
    .product-item{
        width: 400px;
        height: 600px;
        margin: 50px 20px;
    }
    .product-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .product-price{
        width: 300px;
    }
    .product-item:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    .item-menu img{
        width: 420px;
    }
    .item-menu{
        margin-top: 140px;
    }
    .about-us h1{
        margin: 40px;
        margin-top: 120px;
    }
    .login button:hover{
        transform: scale(1.1);
        opacity: 85%;
        transition: 1s;
    }
    .contact i:hover{
        transform: scale(1.1);
        opacity: 85%;
        transition: 1s;
    }
}
@media (min-width: 1440px) {
    .inline{
        height: 100px;
    }
    .icon img{
        height: 80px;
        width: 80px;
    }
    .icon h1{
        font-size: 2.7em;
    }
    .content-list {
        font-size: 1.5em;
    }
    .aside img{
        width: 200px;
        margin: 20px 40px;
    }
    .aside h3{
        font-size: 2.5em;
    }
    .aside{
        height: 350px;
    }
    .main-products h2{
        margin-top: 150px;
        font-size: 3em;
    }
    .product-item{
       width: 40%;
       height: 500px;
    }
    .product-item img{
        width: 250px;
        max-height: 250px;
    }
    .product-item p{
        font-size: 1.4em;
    }
    .item-menu img{
        width: 75%;
        max-height: 600px;
    }
    .item-features li{
        font-size: 1.5em;
    }
}

@media (min-width: 2500px) {
    .item-menu img{
        max-height: 800px;
        width: 50%;
    }
}