:root{
    --main-light-brown: #F0E5CF;
    --main-cream-color: #F7F6F2;
    --main-light-blue: #C8C6C6;
    --main-blue-color: #4B6587;
    --main-dark-blue: #2b3a4e;
}
*{
    font-family: 'Patua One', 'Open sans ';
}
body{
    background-color: var(--main-blue-color);
}
.portada {
    text-align: center;
    padding: 0;
    margin: 0;
    color: var(--main-dark-blue);
    background-image: url(./assets/pc-background-mobile.jpg);
    background-position: center;
    height: 660px;
}
.carousel-item img{
    height: 95%;
    margin: 10px 0;
    border-radius: 100%;
}
i img{
    height: 40px;
    margin: 0 15px;
}
.navbar-brand{
    display: flex;
}
nav{
    border-radius: 10px;
    margin: 10px 3px;
}
h2{
    margin: 40px;
    font-size: 2em;
    text-align: center;
    color: var(--main-cream-color);
}
h1{
    margin: auto;
}
.navbar button{
    margin: 0 5px;
    border-radius: 10px;
}
.aside h3{
    text-align: center;
    color: var(--main-blue-color);
    margin: 30px 10px;
}
.aside-ads{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.aside-ads img{
    width: 105px;
    border-radius: 5px;
    max-height: 100px;
}
.aside-ads li{
    list-style: none;
    margin: 10px 5px;
}
.aside{
    margin: 30px 15px;
    border-top: var(--main-light-blue) solid 1px;
    background-color: var(--main-light-blue);
    border-radius: 10px;
}
.footer{
    border-top: 1px solid var(--main-light-blue);
    margin: 10px;
    opacity: 50%;
}
.copy {
    text-align: center;
    color: var(--main-light-blue);
    font-size: 0.7rem;
    opacity: 50%;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .portada{
        background-image: url(./assets/pc-background-1024.jpg);
        background-position: center;
        height: 800px;
    }
}

@media (min-width: 1024px) {
    .nav-item a{
        margin-top: 23px;
    }
    
}